In [8]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('city_population.csv')
df

         My_City My_Gender  My_Population
0       New York      Male        4125000
1       New York    Female        4300000
2    Los Angeles      Male        1985000
3    Los Angeles    Female        2070000
4        Phoenix      Male       99800000
5        Chicago      Male        1350000
6        Chicago    Female        1400000
7        Houston      Male        1100000
8        Houston    Female        1120000
9        Phoenix      Male         800000
10       Phoenix    Female         810000
11  Philadelphia      Male         750000
12  Philadelphia    Female         770000
13      New York      Male       99125000
14       Phoenix      Male       99800000

In [29]:
g = df.groupby('My_City')
dic = {}
lst = []
for city, city_df in g:
    male_pop = city_df['My_Population'][city_df['My_Gender'] == 'Male'].sum()
    dic[city] = male_pop
    lst.append(male_pop)
print(dic)

{'Chicago': 1350000, 'Houston': 1100000, 'Los Angeles': 1985000, 'New York': 103250000, 'Philadelphia': 750000, 'Phoenix': 200400000}

In [39]:
for city in dic:
    if dic[city] == max(lst):
        print(city, dic[city])

Phoenix 200400000